
<p>Здравствуйте <%= @email %>!</p>

<p>Вы можете подтвердить свою учетную запись электронной почты по ссылке ниже:</p>


<p><%= link_to 'Confirm my account', confirmation_url('http://88.212.253.164:3020/', confirmation_token: @token) %></p>
